@model System.Web.Mvc.HandleErrorInfo

@{
    //var exception = Model.Exception;

    // if we are catching our Domain Exception, we want user to show the message.
    //var domainException = exception as DomainException;

    //var errorMessage = String.Empty;
    //if (domainException != null)
    //{
    //    errorMessage = domainException.Message;
    //}
}

<html>
<head>
    <!-- include your CSS and JS here. -->
</head>
<body>
    <h2>OOPS! Error 403 Occurred</h2>
    <h3>Error Message: Acceso Restringido. Get Out!!</h3>
</body>
</html>

